.index {
  font-size: 28px;
  background-color: #f6f6f6;
  min-height: 100vh;
  position: relative;


  .index-month {
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
  }
  .index-header {
    box-sizing: border-box;
    margin: 0 30px 15px 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    //background: url(../../assets/image/icon-billtype-home.png) no-repeat center;
    //background-size: 100% 100%;
    .index-payinfo {
      display: flex;
      justify-content: flex-start;
      color: #333;
    }
    .index-payinfo .money {
      font-size: 32px;
      padding: 20px 0 20px 0;
    }
    .index-payinfo .amt {
      font-size: 50px;
      font-weight: 600;
    }
    .index-left {
      width: 50%;
    }
    .index-books {
      height: 80px;
      line-height: 80px;
      border-top: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #9b9b9b;
    }
  }
  .list-body {
    background-color: #fff;
    margin: 20px 30px;
    border-radius: 10px;
    .list-header {
      height: 70px;
      line-height: 70px;
      display: flex;
      justify-content: space-between;
      color: #9b9b9b;
      padding: 10px 30px;
    }
  }

  .index-fab-del {
    position: fixed;
    top: 20px;
    right: 80px;
  }
  .index-fab-type {
    position: fixed;
    bottom: 200px;
    right: 80px;
  }
}
