.c-bill-modal-add {
  padding: 30px 30px;
  .c-bill-modal-add-title {
    font-size: 36px;
    margin: 10px 0 20px 0;
  }
  .at-float-layout__container {
    border-radius: 20px 20px 0 0;
  }
  .layout-body {
    padding: 30px ;
  }
  .c-bill-modal-add-buttons {
    margin: 20px 0;
    color: #4a4a4a;

    .c-bill-modal-add-type {
      padding: 8px 26px;
      border-radius: 4px;
      background-color: #f0f0f0;
      margin-right: 20px;
    }
    .current {
      background-color: #C4DDED;
      color: #6080ed;
    }
  }
  .c-bill-modal-add-amount {
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    //font-weight: 600;
    margin: 50px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;

  }

  .c-bill-modal-add-amount .input-placeholder {
    font-weight: 500;
    font-size: 40px;
  }
  .c-bill-modal-add-books {
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .c-book-button {
      width: 140px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-radius: 4px;
      background-color: #f0f0f0;
      margin: 10px;
    }
    .active {
      background-color: #C4DDED;
      color: #6080ed;
    }
  }
  .c-bill-modal-add-remark {
    display: flex;
    justify-content: flex-start;
    color: #9b9b9b;
  }
  .c-bill-modal-add-remark-input {
    background-color: #f0f0f0;
    padding: 10px 10px;
    border-radius: 4px;
  }
  .c-bill-modal-add-remark-button {
    margin-left: 20px;
    padding: 0 10px;
    background-color: #f0f0f0;
    right: 20px;
    font-size: 24px;
    border-radius: 4px;
    height: 60px;
    line-height: 60px;
  }
}
